body {
    font-family: "Montserrat",sans-serif;
    background-color: black;
    background-image: url('https://source.unsplash.com/1600x900/?weather,nature');
    height: 100vh;
    margin: 0;
    font-size: 120%;
    color: rgb(255, 255, 255);
}

.heading {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 3%;
    text-align: center;
    background-color: #393e46;
    color: #00adb5;
}

.search-input {
    font-size: 100%;
    color: #00adb5;
    background-color: #eeeeee;
    border-radius: 24px;
    padding: 0.4em 1em;
    border: none;
    outline: none;
    font-family: inherit;
    width: calc(100% - 100px);
}
.search-btn {
    background-color: #eeeeee;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.search-btn:hover {
    background-color: #a7cac6;
}
.weather-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-card {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    background-color: #00adb5d0;
    border-radius: 30px;
    padding: 2em;
    width: 100%;
    max-width: 400px;
}
h1.temp{
   margin: 0; 
   margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.city-name {
    text-transform: capitalize;
}

.description {
  text-transform: capitalize;
}

.weather-disp.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather-disp.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}